.App {
    text-align: center;
}

.App-logo {
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 50px;
    padding: 10px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-stack-view {
    display: flex;
    flex-direction: column;
}
