.App {
    text-align: center;
}

.App-logo {
    height: 80px;
}

.App-header {
    color: white;
    margin: -10px -10px 0px -10px;
}

.App-header img {
    height: 50px;
    width: 50px;
}

.App-title {
    font-size: 1.5em;
}

.App-stack-view {
    max-width: 50px;
    display: flex;
    flex-direction: column-reverse;
}
