.App {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.button-column {
    position: relative;
    top: 200px;
    left: 0px;
    width: 25px;
}

.content-column {
    max-width: 50px;
    height: 500px;
    background: white;
}

.collapsed-content-column {
    display: none;
}

.collapsed-input-button {
    position: fixed;
    right: 0px;
}

.App-logo {
    height: 80px;
}

.App-header {
    color: white;
    margin: -10px 0px 0px 0px;
    width: 50px;
}

.App-header img {
    height: 50px;
    width: 50px;
}

.App-title {
    font-size: 1.5em;
}

.App-stack-view {
    max-width: 50px;
    display: flex;
    flex-direction: column-reverse;
}
